
@font-face {
  font-family: "gilroy-regular";
  src: url("/assets/fonts/gilroy-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroy-medium";
  src: url("/assets/fonts/gilroy-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy-bold";
  src: url("/assets/fonts/gilroy-bold-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "baligo-demo";
  src: url("/assets/fonts/baligo-demo-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
