h1 {
    font-family: 'gilroy-bold';
    font-weight: 700;
}

h2 {
    font-family: 'gilroy-bold';
    font-weight: 700;
    color: $brand;
    font-size: var(--h2);
}

h3 {
    font-family: 'gilroy-bold';
    font-weight: normal;
    color: $brand;
    font-size: var(--h3);
}

h4 {
    font-family: 'gilroy-medium';
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.4;
    text-transform: capitalize;
}

h5 {
    font-family: 'gilroy-bold';
    font-weight: normal;
    font-size: var(--step-2);
    text-transform: capitalize;
}

h6 {
    font-family: 'gilroy-bold';
    font-weight: bold;
    font-size: var(--step-1);
}

p, ul, li, details {
    font-family: 'gilroy-medium';
    font-weight: 500;
    font-size: var(--p);
    line-height: 1.3;
}

summary {
    font-family: 'gilroy-medium';
    font-weight: 700;
    font-size: var(--p);
    line-height: 1.3;
}

a {
    font-family: 'gilroy-regular';
    font-weight: 500;
    font-size: .9rem;
    color: $white;
}

span {
    font-family: 'gilroy-regular';
}