/* Error: expected "{".
 *   ,
 * 5 | @media only screen and (min-width: 1024px) and (max-width: 2560px) (-webkit-min-device-pixel-ratio: 1) {
 *   |                                                                    ^
 *   '
 *   assets/sass/pages/_home.scss 5:68  @import
 *   assets/sass/main.scss 33:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 5 \2502  @media only screen and (min-width: 1024px) and (max-width: 2560px) (-webkit-min-device-pixel-ratio: 1) {\a   \2502                                                                     ^\a   \2575 \a   assets/sass/pages/_home.scss 5:68  @import\a   assets/sass/main.scss 33:1         root stylesheet';
}
